<h1>Register for CRUDBook!</h1>

<form action="/signup" method="post">
	<div>
  <label>First Name:</label>
  <input type="text" name="firstname"/>
  </div>
  <div>
  <label>Last Name:</label>
  <input type="text" name="lastname"/>
  </div>
	<label>Desired Username:</label>
	<input type="text" name="username"/><br/>
	</div>
	<div>
	<label>Password: (not hidden)</label>
	<input type="text" name="password"/>
	</div>
	<div>
	<input type="submit" value="Submit"/>
	</div>
</form>
